{{#if article}}
    <div id="article" class="card">
        <div class="article-title">{{article.title}}</div>
        <div class="article-info">Posted on {{article.creationDate}} by <a href="/user/{{article.username}}">{{article.username}}</a></div>
        <div class="article-author"></div>
        <div class="article-body">{{article.body}}</div>
    </div>
{{else}}
    <div id="err-message">article not found</div>
{{/if}}


{{>comment-table}}