
<div class="card" style="width:60%; margin: auto;">
    <h1 style="text-align: center;text-decoration: underline;">All Articles</h1>
    <table class="table">
        <tr>
            <th class="table-row table-header">Title</th>
            <th class="table-row table-header">Creation Date</th>
            <th class="table-row table-header">Creator</th>
        </tr>


        {{#each results}}
        <tr>
            <td class="table-row"><a href="/article/{{this.articleID}}"  >{{this.title}}</a></td>
            <td class="table-row">{{this.creationDate}}</td>
            <td class="table-row"><a href="/user/{{this.username}}">{{this.username}}</a></td>
        </tr>
        {{/each}}

    </table>

</div>
