<div id="err-message" class="hidden">Message unset</div>
{{#if media}}
    {{#with media}}
    <div id="media">
        <h1 class="media-title">{{Title}}</h1>
        <div class="media-creator">{{Creator}}</div>
        <div class="media-type">{{Type}}</div>
        <div class="media-description">{{Description}}</div>
        {{#if Rating}}
          <div class="media-rating">{{Rating}}</div>
        {{else}}
          <div class="media-ratingLink">No ratings yet! Be the first!</div>
        {{/if}}
        <h1 id="page-title">
            Add Rating
        </h1>
        <div id="form-parent">
            <form id="form" action="/addRating" method="post">
                <table>
                    <tr>
                        <td>Rating</td>
                        <td>
                            <select name="rating" id="media-rating">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </table>
                  <input id="session-submit" class="hidden" type="text" name="session">
                  <input id="username-submit" class="hidden" type="text" name="username">
                <input type="hidden" name="passedMediaID" value="{{mediaID}}">
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
    {{/with}}

{{else}}
<div id="err-message">No media found</div>
{{/if}}

{{#if articles}}
<table class="table">
    <tr>
        <th class="table-row">Title</th>
        <th class="table-row">Creation Date</th>
        <th class="table-row">Creator</th>
    </tr>


    {{#each articles}}

    <tr>
        <td class="table-row"><a href="/article/{{articleId}}"  >{{ArticleTitle}}</a></td>
        <td class="table-row table-description">{{creationDate}}</td>
        <td class="table-row">{{username}}</td>
    </tr>
    {{/each}}

</table>
{{else}}

<div id="err-message" class="missing-articles">No articles found. :(</div>
{{/if}}
