
{{#if media}}
    {{#with media}}
    <div id="media">
        <h1 class="media-title">{{Title}}</h1>
        <div class="media-creator">{{Creator}}</div>
        <div class="media-type">{{Type}}</div>
        <div class="media-description">{{Description}}</div>
        {{#if Rating}}
          <div class="media-rating">{{Rating}}</div>
        {{else}}
          <div class="media-ratingLink">No ratings yet! <a href="#">Be the first!</a></div>
        {{/if}}
    </div>
    {{/with}}

{{else}}
<div id="err-message">No media found</div>
{{/if}}

{{#if articles}}
<table class="table">
    <tr>
        <th class="table-row">Title</th>
        <th class="table-row">Creation Date</th>
        <th class="table-row">Creator</th>
    </tr>


    {{#each articles}}

    <tr>
        <td class="table-row"><a href="/article/{{articleId}}"  >{{ArticleTitle}}</a></td>
        <td class="table-row table-description">{{creationDate}}</td>
        <td class="table-row">{{username}}</td>
    </tr>
    {{/each}}

</table>
{{else}}

<div id="err-message" class="missing-articles">No articles found. :(</div>
{{/if}}
