
{{#if comments}}
    <table class="card table" style="padding-bottom: 30px">
        {{#each comments}} 
        <tr>
            <td class="table-row comment"><div class="comment-body">
                {{this.body}}
            </div><span class="comment-date" >{{this.dateAdded}}</span><a style="margin-left: 15px;" href="/user/{{this.username}}" >{{this.username}}</a></td>
        </tr>
        {{/each}}
    </table>
{{else}}
<div id="err-message">No comments found for this article.</div>
{{/if}}

<form>
    
</form>